<div class="header">
    <h1 class="pull-right title">List of accounts</h1>
    <button data-toggle="modal" data-target="#modal-account-create" class="btn btn-default btn-new pull-right">New
        Account
    </button>
</div>

<div *ngIf="error" class="col-xs-12 alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
    {{error}}
</div>

<div class="col-sm-8 col-sm-offset-4 col-xs-12 ">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-sm-1 hidden-xs">#</th>
            <th class="col-sm-8 col-xs-9">Name</th>
            <th class="col-xs-3"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
            <th scope="row">{{account.account_id}}</th>
            <td id="account_{{account.account_id}}">
                <span>{{account.name}}</span>
            </td>
            <td>
                <button (click)="toogleEditMode(account.account_id)"
                        class="btn btn-icon btn-xs btn-default fa fa-pencil fa-fw" [disabled]="editMode"></button>
                <button (click)="editAccount(account.account_id)" *ngIf="editMode==true"
                        class="btn btn-icon btn-xs btn-default fa fa-check fa-fw"></button>
                <button (click)="cancelModification(account.account_id)" *ngIf="editMode==true"
                        class="btn btn-icon btn-xs btn-default fa fa-remove fa-fw"></button>
                <button (click)="deleteAccount(account.account_id)"
                        class="btn btn-icon btn-xs btn-default fa fa-trash fa-fw"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Create account modal -->
<div id="modal-account-create" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new account</h4>
            </div>
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="modal-account-create-account-name">Account name</label>
                    <input id="modal-account-create-account-name" type="text" class="form-control"
                           placeholder="Enter account name">
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button (click)="createAccount()" type="button" class="btn btn-default" data-dismiss="modal">Create
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>