<div class="header">
    <h4 class="title">List of accounts</h4>
    <button #createAccountButton mdl-button mdl-colored="accent" class="border-accent"
            (click)="createAccountDialog.show()">
        <mdl-icon>add</mdl-icon>
        New Account
    </button>
</div>

<div *ngIf="error" class="col-xs-12 alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
    {{error}}
</div>

<div class="col-sm-12 col-xs-12 ">

    <div *ngFor="let account of accounts" class="col-sm-4 md-card-container">
        <mdl-card mdl-shadow="2" class="mdl-shadow--2dp mdl-card">
            <mdl-card-title>
                <h2 mdl-card-title-text>{{account.name}}</h2>
            </mdl-card-title>
            <mdl-card-supporting-text>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis pellentesque lacus eleifend lacinia...
            </mdl-card-supporting-text>
            <mdl-card-actions mdl-card-border>
                <button mdl-button mdl-ripple (click)="toggleEdit(account.accountId, account.name); editAccountDialog.show()">
                    Edit
                </button>
                <button mdl-button mdl-ripple data-toggle="modal" data-target="#modal-account-delete"
                        (click)="toggleDelete(account.accountId); deleteAccountDialog.show()">
                    Delete
                </button>
            </mdl-card-actions>
        </mdl-card>
    </div>

</div>

<!-- Create account modal -->
<mdl-dialog #createAccountDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '500px'},
              isModal:true,
              openFrom: createAccountButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400
              }">
    <h4 class="mdl-dialog__title">Create a new account</h4>
    <div class="mdl-dialog__content">
        <mdl-textfield type="text" [(ngModel)]="creationName" placeholder="Account name"
                       mdl-colored="accent" autofocus></mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button (click)="createAccount(creationName); createAccountDialog.close()" mdl-button-type="raised"
                mdl-colored="accent" class="mdl-button-accent" mdl-ripple>Create
        </button>
        <button mdl-button (click)="createAccountDialog.close()" mdl-ripple>Cancel</button>
    </div>
</mdl-dialog>

<!-- Edit account modal -->
<mdl-dialog #editAccountDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '500px'},
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 200
              }">
    <h4 class="mdl-dialog__title">Edit account</h4>
    <div class="mdl-dialog__content">
        <mdl-textfield type="text" [(ngModel)]="editionName" placeholder="New account name"
                       mdl-colored="accent" autofocus></mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button (click)="editAccount(editionId, editionName); editAccountDialog.close()" mdl-button-type="raised"
                mdl-colored="accent" class="mdl-button-accent" mdl-ripple>Edit
        </button>
        <button mdl-button (click)="editAccountDialog.close()" mdl-ripple>Cancel</button>
    </div>
</mdl-dialog>

<!-- Delete account modal -->
<mdl-dialog #deleteAccountDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '500px'},
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 200
              }">
    <h4 class="mdl-dialog__title">Delete account</h4>
    <div class="mdl-dialog__content">
        <p>Are you sure you want to delete this account? This operation cannot be undone.</p>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button (click)="deleteAccount(deletionId); deleteAccountDialog.close()" mdl-button-type="raised"
                mdl-colored="accent" class="mdl-button-accent btn-danger" mdl-ripple>Delete
        </button>
        <button mdl-button (click)="deleteAccountDialog.close()" mdl-ripple>Cancel</button>
    </div>
</mdl-dialog>

