<div class="container">

    <div class="col-xs-3 col-sm-2 sidebar">
        <ul class="nav nav-sidebar">
            <li [class.active]="isActiveRoute('/dashboard')">
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li [class.active]="isActiveRoute('/account')">
                <a [routerLink]="['/account']">Account</a>
            </li>
            <li [class.active]="isActiveRoute('/transaction')">
                <a [routerLink]="['/transaction']">Transaction</a>
            </li>
            <li [class.active]="isActiveRoute('/option')">
                <a [routerLink]="['/option']">Option</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-9 col-sm-10">
        <div class="navigation-icons">
            <button class="btn btn-icon btn-xs btn-default fa fa-home"></button>
            <button class="btn btn-icon btn-xs btn-default fa fa-refresh"></button>
            <button class="btn btn-icon btn-xs btn-default fa fa-arrow-left"></button>
            <button class="btn btn-icon btn-xs btn-default fa fa-arrow-right"></button>
            <button class="btn btn-icon btn-xs btn-default fa fa-times"></button>
        </div>
        <router-outlet></router-outlet>
    </div>

</div>