<div class="demo-container" mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
        <mdl-layout-header>
            <mdl-layout-header-row>
                <mdl-layout-title>Countable</mdl-layout-title>
                <mdl-layout-spacer></mdl-layout-spacer>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" routerLink="/dashboard">Dashboard</a>
                    <a class="mdl-navigation__link" routerLink="/account">Account</a>
                    <a class="mdl-navigation__link" routerLink="/category">Category</a>
                </nav>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <mdl-layout-content>
            <!-- Page content (start) -->
            <div class="main-body">
                <div class="col-xs-8 col-xs-offset-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- Page content (end) -->
        </mdl-layout-content>
    </mdl-layout>
</div>
