.title {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-icon {
    border: none;
    color: grey;
}

.btn-icon:hover, .btn-icon:active {
    background: transparent !important;
}

.btn-icon:focus, .btn-icon:active {
    box-shadow: none;
    outline: 0;
}